<div class="row">
    <div class="col-md-4">

        <p><b>Test 1:</b> Simple binding
        </p>
        <div id="example"></div>
        <hr/>

        <p><b>Test 2:</b> Drop down from ajax
        </p>
        <div id="dropdown"></div>
        <hr/>

        <p><b>Test 3:</b> Drop down from ajax wth change event
        </p>
        <div id="dropdownchange"></div>
        <hr/>

    </div>

    <div class="col-md-4">

        <p><b>Test 4:</b> Cascade drop down from ajax with change event</p>
        <div id="dropdowncascade"></div>
        <hr />

        <p><b>Test 5:</b> Drop down from ajax with change event to grab more JSON from server</p>
        <div id="dropdowngetjson"></div>
        <hr />

    </div>

</div>


@section scripts
{
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.js"></script>

<script type="text/jsx" src="/Scripts/Pages/Hello.js"></script>
<script type="text/jsx" src="~/Scripts/Pages/Dropdown.Ajax.Simple.js"></script>
<script type="text/jsx" src="~/Scripts/Pages/Dropdown.Ajax.Change.js"></script>
<script type="text/jsx" src="~/Scripts/Pages/Dropdown.Ajax.Cascade.js"></script>
<script type="text/jsx" src="~/Scripts/Pages/Dropdown.Ajax.Change.Ajax.js"></script>
}
