

<div class="row">
    <div class="col-md-4">


        <div id="example"></div>

        <p>Drop down from ajax</p>
        <div id="dropdown"></div>


        <p>Drop down from ajax wth change event</p>
        <div id="dropdownchange"></div>


    </div>
</div>


@section scripts
{

<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.js"></script>

<script type="text/jsx" src="/Scripts/Pages/Hello.js"></script>
<script type="text/jsx" src="~/Scripts/Pages/Dropdown.Ajax.Simple.js"></script>
<script type="text/jsx" src="~/Scripts/Pages/Dropdown.Ajax.Change.js"></script>
}
